/******************************************************************

Stylesheet: Large Stylesheet

Styles apply to 64.063em (1025 px) and up.

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/

body.home #banner #slideshow{
	min-height: 550px;
}

#banner #banner-overlay #banner-overlay-inner p{
	font-size: 26px;
}

#inner-header {
	margin: 0 auto;
	width: 100%;	
	background-color:transparent;
	max-width: 73.125rem;
	height: 7.81em;
	color: #fff;
	.logo {
		width: 226px;
		display:block;
		padding-left: 5px;
		float:left;
	}
	#navmenu {
		font-size:.9em;
		ul{
			padding-left:90px;
			li {
			  margin-right:0px;
			  line-height: 1;
			  a{
				  padding-right:30px;
			  }
			}
		}
		#head-social {
			a{
				margin-right: 20px;
			}
		}
		/* get in touch link... */
		ul#menu-main-nav > li:last-child {
			padding: 0;
	} 
		ul#menu-main-nav > li:last-child a {
		display:inline-block;
			padding:2px 35px;
			height: auto;
			width:auto;
		} 
	} /* end navmenu */
	
} /* end inner-header */
		
#clients-section #clients-carousel .clientslideshow #clientslideshow1,
#clients-section #clients-carousel .clientslideshow #clientslideshow2{
	height: 200px;
}

/*********************
NAVIGATION STYLES
*********************/


/*********************
PAGE
*********************/

#welcome-section{
	padding-top: 50px;
	h2{
		font-size:44px;
	}
	
	p{
		max-width: 960px;
		display: block;
		margin: 0 auto;
		font-size: 18px;
	}
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	.widgettitle {
	}

	.widget {

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}



/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/