/******************************************************************

Stylesheet: Medium Stylesheet

Styles apply to 58.75em (940 px) and up. 

******************************************************************/

.mobile-hide{
	display: inline-block;
}
.desktop-hide{
	display: none;
}

.anchor{
  display: block;
  height: 103px; /*same height as header*/
  margin-top: -103px; /*same height as header*/
  visibility: hidden;
}
	
/*********************
NAVIGATION STYLES
*********************/

#sticky-header.fixed {
    height: 103px;
	top: 0;
	margin: 0 auto;
	background-color:rgba(255,255,255, 0.85);
	a.logo{
		img{
			max-height: 135px;
		}
	}
}

#sticky-header.shadow{
	background-color: white;
}

#inner-header {
	max-width: 73.125rem;
	margin: 0 auto;
	width: 100%;	
	max-width: 73.125rem;
	height: 7.81em;
	position: static;
	color: #fff;
	.logo {
		width: 14.06em;
		display:block;
		padding-left: 5px;
		float:left;
		position: relative;
		z-index: 100;
		text-align: center;
		img{
			height: inherit !important;
		}
	}
	#menuopen {
	  display:none;	
	}
	#navmenu {
		font-size:.8em;
		display:inline !important;
		text-transform:uppercase;
		font-weight: bold;
		text-align: center;	
		color: #fff;
		top:0;
		background-color: transparent;
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
		ul{
			display: inline-block;
			padding-left: 140px;
			margin: 0px;
			li {
				display:inline-block;
				list-style-type:none;
				border-bottom: none;
				position: relative;
				margin-right: 0px;
				line-height: 1.2;
				padding:45px 5px 26px;
				a {
					text-decoration:none;
					color:rgba(0,0,0,0.8);
					font-family:'Calibri W01 Regular_904604';
					font-weight: normal;
					letter-spacing: 1px;
				}
				a:hover {
					opacity: .75;
				}
				ul.dropdown{
					display:none;
					padding: 10px !important;
					position: absolute;
					top:103px;
					left:0px;
					background-color:rgba(255,255,255, 0.95);
					border-bottom:1px solid #ccc;
					border-left:1px solid #ccc;
					border-right:1px solid #ccc;
					min-width: 285px;
					li{
						display: block;
						border-top:1px solid #ccc;
						padding:5px 0px;
						a{
							padding:5px 0px;
							display: block;
							line-height: 1.5;
							color:black !important;
							text-align: left;
							padding-left: 20px;
						}				
						&:first-child{
							border-top: none;
						}
					}
				}
			
				&.has-dropdown:hover{
					background-color: #802325;
					a{
						color: white;
						opacity: 1;
					}
					ul.dropdown{
						display: block;
					}
				}
			}
		}	
		/* get in touch link... */
		ul#menu-main-nav > li:last-child {
			background: #d4d5d8;
			line-height: 2.18em;
			padding: 0;
			margin: 0;
			border: #9f9fa1 solid 1px;
			top:-3px;
	} 
		ul#menu-main-nav > li:last-child a {
			display:inline-block;
		  width: 11.25em;
		  height: 2.18em;
		} 
		
	} /* end navmenu */
	
	#head-social {
		float:right;
		position: relative;
		z-index: 203;
		padding-top:10px;
		a {
			margin:0 15px 0 0;
			display: inline-block;
		}
		img {
			height: auto;
			margin-top: 29px;
		}
	
	} /* end head-social */
} /* end inner-header */
	
	
	
#welcome-section {
	padding:70px 0px;
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content{
	padding:0px;
}


#banner {
	max-height: 620px;
	overflow:hidden;
	margin-top: 0px;
	>img{
		width:100%;
		padding-top: 0px;
	}	
	#banner-caption {
		top: 200px;
		h1{
			font-size: 50px;
			text-align:center;
			max-width: 62.5rem;
			display: block;
			margin: 0 auto;
		}
	}
	#banner-overlay{
		position: absolute;
		bottom:0px;
		width:100%;
		background-color: rgba(223,219,208,0.8);
		padding:60px 80px;
		#banner-overlay-inner{
			p{
				font-size: 23px;

			}
		}
	}

	.soliloquy-container {
		.soliloquy-image{
			width:100%;	
		}
	}
}


body.home #banner #slideshow{
	/* margin-top: 80px; */
	min-height: 500px;
	position: relative;
	//background-image: none !important;
	.caption{
		font-size: 110px;
		text-align:right;
		max-width: 90%;		
		span:last-of-type{
			left:-25px;
		}
	}
	
}
				

body.home #banner{
	max-height: 700px;
	margin-top: 0px;
	#banner-caption {
		top: 60%;
		h1{
			font-size: 6em;
			text-align:right;
		}
	}
}

#about-section {
	position: relative;
	padding-top: 50px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom: 75px;
	h2{
		font-size: 44px;
		margin-top: 15px;
		text-align:center;
		max-width:560px;
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	#about-main-img  {	
		position:absolute;	
		top: -4.5rem;
		right:-290px;
		max-width: 550px;
	}
	#about-copy {
		text-align:center;
		max-width:500px;
		display: block;
		margin: 0 auto;
		float:none;
		p{
			line-height: 1.7;
			margin-top: 0px;
			padding-left: 30px;
			padding-right: 30px;
		}
		ul{
			padding-left:0px;
			li{
				display: inline-block;
			}
		}
	}
	#about-left-img {
	width: auto;
	max-width: 12.5rem;
	margin: 0 auto;
	}
	ul{
		width:100%;
	}
}


#services-section {
	padding:1px 0px 50px 0px;
	min-height: 550px;
	background-size: cover;
	h3{
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
		position: relative;
		z-index: 10;
		font-size: 24px;
	}
	h4{
		text-align: left;
		margin-top: 0px;
		margin-bottom: 10px;
		font-size: 17px;
		font-weight: 600;
	}

	.service-description{
		font-size: 15px;
		line-height: 1.2;
		display:block;
		text-align:left;
	
	}
	.read-more{
		text-align:left;
		margin-top: 10px;
	}
	
	div:last-child {
		padding-right:0;
	}
	.row{
		.columns{
			display: table-cell;
			float:none;	
			height:100%;
			padding: 0px 15px 25px;
			ul{
				padding-left: 0px;
				li{
					padding:5px 0px;
				}
			}
			.read-more{
				position: absolute;
				bottom: 0px;
				margin:0px;
			}
		}
	}
}


#team-section {
	padding-top:35px;
	padding-bottom: 60px;
	height: 580px;
	overflow: hidden;
	.row {
		max-width: 1030px;
	}
	h2{
		margin-top: 42px;
		margin-bottom: 70px;
		font-size: 36px;
	}
	#team-carousel {	
		width:95%;
		min-height: 225px;
		margin: 0 auto;
		
		.cycle-slide{
			padding-left:10px;
		}
		
		img { 
			width: auto;
			height: auto;
			 
		}	
		.teamslideshow {
			position:relative;
			overflow: hidden;
			width:auto !important;
			
			.team-member{
				max-width:20%;
				min-height: 295px;
			}
		}
			#cycle-prev {
			margin-left: 10px;
		}
		#cycle-next {
			margin-right:10px;
		}
	}
}
#clients-section {
	padding-top: 0px;
	
	background-color: white;
	> .row{
		padding-bottom: 50px;
	}
	h2{
		font-size: 36px;
		margin-bottom: 90px;
	}
	#clients-carousel {	
		max-width: 1000px;
		.clientslideshow {
			display: table;
			margin: 0 auto;
			text-align: center;
			#clientslideshow1,
			#clientslideshow2{
				display: table-row;
			}
			width: auto;
			.client-logo-wrapper{
				display: inline-block;
				height:220px !important;
				width:220px !important;
				border:1px solid #ccc;
				vertical-align: middle;	
				margin-bottom: 45px;		
				margin-left: 15px;
				margin-right: 15px;
				img {
					display:block;
					margin-left: auto;
					margin-right:auto;			
				}
			}
			.cycle-carousel-wrap{
				width:100%;
			}
			.cycle-slide{
				width:25%;
				vertical-align: middle;
			}			
		} /* end clientslideshow */
			#cycle-prev-2 {
			display:none;
		  } /* cycle-prev-2 */
		  
		  #cycle-next-2 {
			  display: none;
		  }  
	}	/* end clients-carousel */	
} /* end clients-section  */

.contact-section {
	margin-top: 0px;
	transition: 10ms linear;
	h2{
		font-size: 36px;
	}
	.row {
		max-width: 970px;
		margin: 0 auto;
	}
	#leaf {
		background: center url(../images/wheat.png) no-repeat ;
		height: 60px;
		margin:0;
		padding:0;
	}
	
	#contact-copy{
		font-size: 18px;
		p{
			margin-bottom: 30px;
			font-size: 18px;
			a{
				font-size: 24px;
				text-align: center;
				display: block;
			}
		}
	}
	
	#gform_wrapper_1{ 
		margin-top:25px;
		form{
			.button.gform_button {
				width:250px;
			}
		}
	}
	#gforms_confirmation_message_1{
		margin-top: 25px;
	}
}

.students-section{
	background-color: transparent;
	padding: 0px 30px;
	.row{
		max-width:910px;
		
		&:last-child{
			padding-bottom: 30px;
		}
	}
	h2{
		font-size: 36px;
		font-weight: 700;
		margin-top: 30px;
	}
	img{
		margin-top: 10px;
	}
	#students-copy{
		padding-left: 40px;
		p{
			font-size: 18px;
			strong{
				font-size: 19px;
			}
			&:first-child{
				margin-top: 0px;
			}
		}
	}
}


#inner-content{
	#content-wrapper{
		padding-top: 50px;

		
		#page-content{
			padding-right: 30px;
			
			h2{
				font-size: 36px;
			}
			p{
				font-size: 18px;
				line-height: 1.7;
				&:first-child{
					font-size: 24px;
				}	
			}
			
			
			ul{
				margin-bottom: 30px;
				li{
					width:45%;
					float:left;
					font-size: 18px;
					&:nth-child(2){
						border-top: none;
					}
					&:nth-child(even){
						float:right;
					}
					&:nth-child(odd){
						position: relative;
						left: 0px;
					}
				}
			}
		}
		
		#image-sidebar{
			padding-top:8px;
			img{
				display: block;
				max-width:100%;
				margin: 0 auto;
				margin-bottom: 15px;
			}
		}
	}
	#case_study_section{
		padding-top: 40px;
		padding-bottom: 40px;
		margin-top: 30px;
		.row{
			background-repeat: no-repeat;
			background-size: 50%;
		}
		#case_study_content{
			max-width:800px;
			display: block;
			margin: 0 auto;
			text-align: center;
			h2{
				font-size: 36px;
				line-height: 1.1;
				font-weight: 400;
				span{
					line-height: 1.1;
				}
			}
			p{
				font-size: 18px;
				line-height: 1.6;
				font-weight: 300;
			}
			a#case_study_link{
				width:400px;
			}
		}
		#case_study_content.left{
			padding:40px 30px 45px 0px;
		}
	}
}

body.page-id-27 #inner-content #case_study_section{
	.row{
		background-size: inherit;
	}
	#case_study_content{
		h2{
			font-size: 37px;
		}
	}
}
		
/*********************
SIDEBARS & ASIDES
*********************/

.widget {
	padding: 0 10px;
	margin: 2.2em 0;
}

/*********************
FOOTER STYLES
*********************/
	
#footer{
	#address{
		a{
			text-decoration: none;
		}
	}
}
	
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			