/******************************************************************

Stylesheet: Base/Small Stylesheet

Screens < 940 px

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
body {
	font-family: 'Open Sans', sans-serif;
}


.clearfix{
	:after{
		visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
	}
}

em:after{ // Fixing a bug that atatches clearfix:after to em
	display: inline-block !important;
}

.mobile-hide{
	display: none;
}
.desktop-hide{
	display: block;
}

.anchor{
  display: block;
  height: 65px; /*same height as header*/
  margin-top: -65px; /*same height as header*/
  visibility: hidden;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

/*********************
LINK STYLES
*********************/

a, a:visited {

	color:white;

	/*adds highlight on hover */
	&:hover, &:focus {

	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 P STYLES
******************************************************************/
p {
	font-size: $size-15px;
	font-family: 'Open Sans', sans-serif;
	color:#767676;
	}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {
	color: $red-medium;
	font-size: $size-24px;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 600;
}

body.home h2{
	text-align: center;	
}

h3, .h3 {
	color: white;
	font-size: $size-19px;	
	text-transform:uppercase;
	text-align: center;
	font-weight: 600;
}

h4, .h4 {
	color: #fff;
	font-size: $size-15px;
	text-transform:uppercase;
	text-align: center;
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/

.header {
	margin:0 auto;
	position: relative;
}

#banner {
	z-index: -1;
	position: relative;
	width:100%;
	min-width: 325px;
	margin:0;
	padding:0;
	text-align:center;
	ul {
		padding:0;
		margin:0;
	}
	>img{
		min-height: 200px;
	}
	
	.banner-overlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: block;
	  background-color: rgba(0,0,0,0.4);
	  z-index: 200;
	  width:100%;
	  height:100%;
	}
	
	#banner-caption {
		position:absolute;
		top: 25%;
		left: 0;
		width:100%;
		z-index: 201;
		h1{
			font-weight: normal;
			color:white;
			width: 100%;
			text-align:center;
			font-size: $size-32px;
			line-height: 1.1;
			margin:0px;
			font-weight: normal;
			padding: 0px 10px;
			.bnrTextTrans {
				opacity: 0.5;
			}
		}
	}
	#banner-overlay{
		background-color: #ede9de;
		padding:25px 30px 25px;
		position: relative;
		z-index: 201;
		#banner-overlay-inner{
			p{
				font-size: 16px;
				color:#323232;
				margin:0px;
				line-height: 1.8;
			}
		}
	}
}

body.home{
	#banner {
		.banner-overlay {
			display: none;
		}
		#banner-caption {
			top:55%;
			h1{
				font-weight: normal;
			}		
		}
		#slideshow{
			max-width: 100% !important;
			min-height: 250px;
			background-size: cover;
			.slide{
				width:100%;
				position: relative;
				img{
					min-height: 200px;
					width:100%;
				}
			}
		}	
	}
}

//Slidehsow
#banner #soliloquy-container-13 .soliloquy-controls{
	display: none !important;
}

#banner #slideshow{
	.caption{
		background: transparent;
		top:55%;
		display: block;
		text-align: right;
		position: absolute;
		color:white;
		width: 100%;
		font-size: $size-32px;
		line-height: 1.1;
		margin:0px;
		font-weight: normal;
		text-shadow: none;
		padding-left: 10px;
		padding-right: 30px;
		span:last-of-type{
			opacity: 0.5 !important;
			position: relative;
			left:-7px;
		}
	}	
}


#content-wrapper{
	overflow: hidden;
}

/*********************
NAVIGATION STYLES
*********************/


#sticky-header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    background-color:rgba(204,204,204, 0.85);
    height: 66px;
    a.logo{
	    display: inline-block;
		img{
			max-height: 86px;
			width:auto;
			display: inline-block;
			margin-left: 30px;
		}
	}
}

#sticky-header.shadow {
	-webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 10px 15px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 10px 15px 0px rgba(50, 50, 50, 0.2);
	background-color: white;
	
	.logo{
		img{
			-webkit-box-shadow: 0px 10px 15px 0px rgba(50, 50, 50, 0.2);
			-moz-box-shadow:    0px 10px 15px 0px rgba(50, 50, 50, 0.2);
			box-shadow:         0px 10px 15px 0px rgba(50, 50, 50, 0.2);
		}
	}
}



#inner-header {
	position: absolute;
	top: 0;
	margin: 0 auto;
	width: 100%;
	height: 65px;
	#head-social {
		display:none;
	}
}


#menuopen {
	float:right;
	height: 30px;
	width: 30px;
	margin-top:20px;
	margin-right:15px;
	display:inline-block;
	color: #666666;
  }
	
#navmenu {
	display:none;
	position:absolute;
	top: 65px;
	padding-bottom:20px;
	left:0;
	text-transform:uppercase;
	font-size: 1em;
	font-weight: bold;
	text-align: right;	
	width: 100%;
	background-color: rgba(0,0,0,0.70);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	ul#menu-main-nav{
		padding-left:0px; 
		li {

			display:block;
			list-style-type:none;
			margin-right:50px;
			clear:left;
			line-height:50px;
			border-bottom: 1px #666 solid;
			
			a {
				text-decoration:none;
				color:white;
				font-family:'Calibri W01 Bold_904607',sans-serif;
				font-size: 16px;
			}
			
			ul.dropdown{
				li{
					border-bottom: none;
					padding-right: 20px;
					line-height: 30px;
					a{
						font-size: 14px;
					}
				}
			}	
	
			
			a:hover {
				opacity: .75;
			}
		}
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/

#main {
	width:100%;
}

.column, .columns {
	padding: 0;
}

#welcome-section {
	text-align: center;
	padding: 5px 30px;
	margin:0;
	h2{
		margin-bottom: 10px;
	}
	p {
		margin-top: 0px;
		font-size: $size-15px;
		line-height: 1.5;
		color: #767676;
	}
}

#about-section {
	background-color: $red-dark;
	color:white;
	text-align: center;
	padding: 0 40px 70px 40px;
	margin: 50px 0 0 0;
	#about-main-img {
		margin-top: -2.812em;
		margin-right: auto;
		margin-left: auto;
		max-width: 10.625rem;		
	}
	h2 {
		color:white;
		text-transform:capitalize;
	}
	p {
		font-size: $size-15px;
		display:block;
		color: white;
		line-height: 1.7;
	}
	
	ul{
		padding-left: 10px;
		li{
			text-align: left;
			font-size: 15px;
			line-height: 1;
			display: block;
			list-style-type: none;
			&:before{
				content: "\a0 \b7";
				color: #facd83;
				font-size: 25px;
				position: relative;
				top:3px;
				left:-3px;
			}
		}
	}
}


#about-left-img {
	max-width: 8.125rem;
	margin: 0 auto;
}


#services-section {
	color:black;
	margin:0;
	z-index: 9999;
	padding-top: 1.25em;
	padding-bottom: 33px;
	text-align: center;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: none;
	h3 {
		padding: 0px 10px;
		color:#802325;
	}
	h4, h4 a {
		margin: 5px 0 0 0;
		font-weight: 600;
		color: #802325;
	}
	img {
		max-width: 200px;
	}
	.service-description {
		display:none;
		ul{
			padding-left:0px;
			li{
				list-style-type: none;
				color:black;
				position: relative;
				
				&:before{
					content: "\a0 \b7";
				    color: #802325;
				    font-size: 25px;
				    position: absolute;
				    top: -2px;
				    left: -18px;
				}
			}
		}
	}
	.read-more{
		a{
			color: #802325;
			font-weight: bold;
		}
	}
}



.read-more {
	margin: 0 0 30px 0;
	padding:0;
	font-size: $size-13px;
	text-transform:uppercase;
	a {
		color: $orange-light;
		text-decoration: none;	
	}
	a:hover {
		text-decoration: none;
		opacity: .75;
	}
}


#team-section {
	padding-top:25px;
	.row {
		max-width: 400px;
		margin: 0 auto 33px auto;
	}
	h3, h3 a {
		color: $orange-dark;
		margin: 5px 0 0 0;
		text-align:left;
		line-height: $size-16px;
		margin-top: 25px;
		font-size: 16px;
	}
	p {
		font-size: $size-14px;
		margin:0 0 $size-15px 0;
		color: $gray-medium;
	} 
	#team-carousel {
		position:relative;	
		width: 225px;	
		min-height: 175px;
		margin: 0 auto;
		color:#707070;
		img { 
			max-width: 225px; 
			
		}	
		.teamslideshow {
			position:relative;
			overflow: hidden !important;
			width: 225px !important;
			.team-member{
				padding-right: 10px;
				.image-wrapper{
					overflow: hidden;
					position: relative;
					.team-member-descr{
						display: block;
						transition-property: all;
						transition-duration: 0.9s;
						transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
						width:100%;
						height:100%;
						position: absolute;
						bottom:-100%;
						left:0px;
						background-color: rgba(136,107,86,0.9);
						padding:10px 20px;
						h3{
							font-size: 17px;
							color:white;
							margin-top: 0px;
						}
						p{
							font-size: 14px;
							color:white;
							white-space: normal;
							line-height: 1.4;
						}
						p.teammbr-qualification{
							font-size: 15px;
							color:#f2c883;
							text-transform: uppercase;
							border-bottom: 2px solid rgba(255,255,255,0.4);
							padding-bottom: 3px;
							margin-bottom: 3px;
						}
						p.teammbr-position{
							font-size: 15px;
							line-height: 1.2;
							padding-bottom: 5px;
							border-bottom: 1px solid rgba(255,255,255,0.4);
							margin-bottom: 3px;
						}	
					}
					&:hover{
						.team-member-descr{
							  bottom:0px;
						}
					}
				}
			
				a.linkedin-link{
					position: relative;
					padding-right:25px;
					background-image:  url("/wp-content/themes/ciac/library/images/linkedin.png");	
					background-repeat: no-repeat;
					background-position: right top;
					&:after{
						content: none;
					}
				}
				
			}	
			div:last-child {
				padding-right: 0;	
			}
			.cycle-carousel-wrap {
				margin: 0 auto 10px auto !important;
			}
		} /* end teamslideshow */
		#cycle-prev {
			position: absolute;
			top:30%;
			left: -40px;
		}
		#cycle-next {
			position: absolute;
			top:30%;
			right: -40px;
		}
	}	/* end team-carousel */
}
	

#clients-section {
	position: relative;
	padding: 10px 10px 25px 10px;
	background-repeat: no-repeat;
	background-size: cover;
	
	h2 {
		color: #97292c;
		padding:0px 70px;
	}
	#clients-carousel {	
		max-width: 225px;
		margin: 0 auto;		
		position:relative;
		.clientslideshow {
			position:relative;
			overflow: hidden !important;
			width: 220px;
	
			img {
				display:block;
				margin-left: auto;
				margin-right:auto;			
				opacity: 0.80 !important;
				filter: alpha(opacity=80) !important;
			}	
		}
		#cycle-prev-2 {
			position: absolute;
			top:42%;
			left: -40px;
			img {
				opacity: 0.50 !important;  
				filter: alpha(opacity=50) !important;
			  }
		  } /* cycle-prev-2 */
		  
		  #cycle-next-2 {
			  position: absolute;
			  top:42%;
			  right: -40px;
			  img {
				opacity: 0.50 !important;  
				filter: alpha(opacity=50) !important;
			  }
		  }	/* cycle-next-2 */
	  }	/* end #clients-carousel */	
} /* end #clients-section  */

.contact-section {
	margin-top: 0px;
	margin-bottom: 0px;
	.row{
		&:first-child{
			margin-top: 80px;
		}
		&:last-child{
			margin-bottom: 40px;
		}
	}
	h2 {
		margin:0;
		text-align: center;
		color: #353535;
	}
	#contact-copy {
		font-size: $size-14px;
		padding: 0 30px;
		text-align: left;
		color:white;
		p{
			font-size: 14px;
			color: #353535;
			line-height: 1.6;
			a{
				color:#97292c;
				text-decoration: none;
				display: block;
				text-align:center;
				font-size: 20px;
				margin: 25px 0px;
			}
		}
	}
	strong {
		font-size: $size-20px;
		font-weight:normal;
		color: $red-dark;
		display:block;
		text-align: center;
	}
	#gforms_confirmation_message_1{
		max-width: 90%;
		margin: 0 auto;
		min-height: 250px;
		padding:30px;
		border: solid 1px #ccc;
	}
	
	#gform_wrapper_1 {
		background: none;
		border: solid 1px #ccc;
		margin: 0 auto;
		padding:15px 30px 25px;
		width: 460px;
		max-width: 90%;
		form {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			.gform_fields {
				padding: 0;
			}
			label {
				display:none;
			}

			input[type="text"] {
				margin: 5px 0;
				padding:0;
				background: $gray-light;
				border: none;
				width: 100%;
				height: 30px;
				font-size: $size-12px;
				padding-left: 20px;
				-webkit-appearance: none;
				border-radius: 0px;
			}
			.validation_message, .validation_error {
				color: $red-dark;
				font-size: $size-12px;
				margin: 0;
				
			}
			.validation_error{
				display: none;
			}
			.button.gform_button {
				border:none;
				text-transform: uppercase;
				vertical-align: middle;
				text-align:center;
				margin: 15px 0;
				font-family: Arial;
				color: white;
				font-size: 1.0em;
				background: #97292c;
				display: block;
				margin:0 auto;
				width:100%;
				height: 40px;
				text-decoration: none;
				margin-top: 11px;
				border-radius:0px;
			}
			.button.gform_button:hover {
			  text-decoration: none;
			}
		}	
	} 
	
}


body.home #contact-section{
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0px;
	padding-bottom: 0px;
	h2{
		color:white;
		padding-bottom: 60px;
	}
	#contact-copy{
		p,a{
			color:white;
		}
	}
	#gform_wrapper_1{
		border:1px solid white;
		background-color: rgba(255,255,255,0.5);
		input[type="text"] {
			opacity: 0.9;
			color:black;
		}
	}
	
	#leaf{
		background-image: url("/wp-content/themes/ciac/library/images/hp_wheat.png");
	}
	
	#gforms_confirmation_message_1{
		color:white;
	}
}

.students-section {
	margin:0;
	padding: 30px;
	color: black;
	font-size: $size-14px;
	background-color: #dcd4bd;
	h2 {
		color: $orange-dark;
		margin: 0;
		padding-bottom: 25px;
	}
	img {
		margin: 0 auto;
		display:block;
		box-shadow: 2px 2px 5px $gray-medium;
	}
	
	#students-copy {
		p{
			font-size: 14px;
			color:#000000;
			line-height: 1.8;
		}
		strong {
			color: $orange-dark;
			font-size: 16px;
			font-weight:normal;
			font-style: italic;
		}
	}
}

#inner-content{ 
	#content-wrapper{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 25px;
		h2{
			font-weight: bold;
			color:#97292c;
			font-size: 22px;
		}
		p{
			&:first-child{
				color:#595959;
				margin-bottom: 50px;
				margin-top: 0px;
			}	
		}
		ul{
			width:100%;
			list-style-image:url("/wp-content/themes/ciac/library/images/ul_bullet.png");
			padding-left: 30px;
			li{
				width: 100%;
				color:$red-medium;
				font-size: 15px;
				font-family: 'Open Sans', sans-serif;
				padding: 7px 0px;
				border-top: 1px solid #cccccc;
				&:first-child{
					border-top:none;
				}
			}
		}
	}
	#case_study_section{
		#mobile_case_study_image{
			img{
				width:100%;
				height: auto;
			}
		}
		#case_study_content{
			padding: 40px 15px 45px;
			h2{
				margin: 0px;
				color:white;
				text-transform: none;
				font-size: 24px;
				font-weight: normal;
				line-height: 1.4;
				span{
					color:white;
					text-transform: uppercase;	
					font-weight: bold;
					line-height: 1.5;
				}
			}
			p{
				color:white;
				line-height: 1.5;
			}
			a{
				color:#cfab7a;
			}
		
			a#case_study_link{
				text-decoration: none;
				color:white;
				border:1px solid rgba(255,255,255,0.5);
				max-width: 100%;
				display: block;
				text-align: center;
				padding:15px 0px;
				margin-top: 50px;
				text-transform: uppercase;
				&:after{
					content: " \00BB";
				}
			}
		}
	}
}

#footer {
	margin: 0 !important; 
	color:white;
	#footer-1 {
		margin:0;
		padding: 40px 0 25px 0;
		background: $taupe-dark;
		>img {
			margin: 0 auto;
			display:block;
			max-width: 90px;
			border:2px solid white;
		}
		#address {
			text-align: center;
			margin: 30px 0;
			color: rgba(255,255,255,0.7);
			a{
				color: rgba(255,255,255,0.7);
			}
		}
		#footer-social {	
			margin: 0 auto;
			text-align: center;
			opacity: 0.40;
			img {
				display:inline;
				padding-right: 25px;
			}
			a:last-of-type img {
				padding-right: 0;
			}
		} /*end footer-social */
	} /* end footer-1 */
	
	#footer-2 {
		margin:0;
		padding: 25px 0 35px 0;
		background: $red-dark;
		text-align: center;
		font-size: $size-12px;
		#copyright {
			opacity: 0.40;
		}
	#nav-bottom {
		opacity: 0.40;	
		#menu-footer{
			padding:0;	
		}
		li {		
			list-style: none;
			display: inline;		
		}
		li:first-of-type a {
			border-left:none;
		}
		
		a, a:hover {
			text-decoration:none;	
			color: white;
			border-left:1px solid white;
			padding:0px 5px;
		}
	} /* end nav-bottom */
  } /* end footer-2 */
} /* end footer */

.hentry {

	header {}

	footer {}

} /* end .hentry */

.single-title,
.page-title {}

.single-title {}

.page-title {}

.archive-title { }

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: #999;
	time {}
}

/* entry content */
.entry-content {
	a{
		color:#767676;
	}

	p {}

	ul, ol, table, dl {}

	ul, ol {

		li {}

		}

	ul {

		li {}

		}

	ol {

		li {}

		}

	blockquote {

		&:before {}

		}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
		}

	img {
		max-width: 100%;
		height: auto;
		}

		/*
		image alignment on a screen this size may be
		a bit difficult. It's set to start aligning
		and floating images at the next breakpoint,
		but it's up to you. Feel free to change it up.
		*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
		}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
		}

} /* end .wp-caption */

/* image gallery styles */
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination {
	a {
		&:hover {
			color: black;
		}
	}
}
/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments {

	/* number of comments span */
	span {}

}

#respond {
	ul {
		margin-left: 0px;
	}
}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
		background: $secondary-color;
	}

	li.depth-2 {}
	li.depth-3 {
		background: darken($secondary-color, 5%);
	}
	li.depth-4 {}
	li.depth-5 {}

	/* general comment classes */
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: white;
		}

	} /* end .commentlist .vcard */


	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
	/*	@include button($padding: $button-sml); */
		float: right;

		&:hover,
		&:focus {
		
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: white;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

	/* comment submit button */
	#submit {}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	#searchsubmit {
	}

	.widgettitle {}

	.widget {

		ul {
			margin: 0;

			li {
				list-style: none;

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

#sidebar-offcanvas {
	.widgettitle {
		color: white;
	}	
}
/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	margin-top: 1em;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright { }
	
/*********************
FOUNDATION STYLES
*********************/
.clearing-assembled.clearing-blackout a:hover {
	background: none;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}